.main{
    display: flex;
    flex-direction: column;
    width: 199px;
    height: 406px;
    
    justify-content: space-between; 
}

.title {
    width: 199px;
    height: 35px;
    display: flex;
    align-items: flex-start; /* Ensures content aligns at top vertically */
    text-align: left;
    padding: 0; /* Just in case */
    margin: 0;
  }
  
  .title h1 {
    width: 199px;
    height: 35px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #A8A8A8;
   
  
    margin: 0; 
    padding: 0; 
    line-height: 1; 
  }
  

.topic{
    background-color: #FFFFFF1A;
    width: 199px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic-item{
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 53px;
  justify-content: space-between;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 7px;
  
}

.topics-data{
  display: flex;
  height: 19px;
  width: 159px;
  align-items: center;
  justify-content: left;
}

.topics-title{
  
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  width: 116px;
  height: 19px;
  text-align: left;

}