.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 8rem;
    width: auto;
    
  }
  
  .greeting h1 {
    font-family: 'inter',sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
  }
  
  .daily-news h1 {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
    position: relative;
    
  }
  
 
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 3rem;
    
  }
  
  .evaluation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #9EAAFF29;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .evaluation-icon {
    width: 20px;
    height: 22px;
    top: 5.83px;
    left: 6.67px;
    border-width: 1.5px;
    

  }
  
  .evaluation span {
    font-size: 16px;
    font-weight: 500;
    color: #475DFE;
    font-family: 'inter',sans-serif;
  }
  
  .notification {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF29;
    text-align: center;
    
  }
  
  .notification-icon {
    width: 24px;
    height: 24px;
    margin-top: 7.5px;
  }
  
  .notification-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-right: 5px;

  }
  
  .user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
      flex-direction: column;
      gap: 1rem;
    }
    
    .navbar-left, .navbar-right {
      width: 100%;
      justify-content: space-between;
    }
    
    .greeting h1, .daily-news h1 {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .evaluation span {
      display: none;
    }
    
    .evaluation {
      padding: 0.5rem;
    }
  }